In [75]:
#step 1 import pandas
import pandas as pd
import matplotlib

In [56]:
#step 2 load open prescribing measures data to filter out a subset for testing all scripts
data = pd.read_csv('measures_test.csv', sep=',') #data is sepperated by , (commas)

In [57]:
#step 3 check data has imported correctly 
data.head(3) # Show top 3 entries

,measure,org_type,org_id,org_name,date,numerator,denominator,calc_value,percentile
0,ktt9_antibiotics,practice,P84650,THE ALEXANDRA PRACTICE,2014-10-01,199.0,3106.653507,0.064056,9.181078
1,ktt9_antibiotics,practice,P84673,ANCOATS URBAN VILLAGE MEDICAL PRACTICE,2014-10-01,463.0,4252.799604,0.108869,75.864700
2,ktt9_antibiotics,practice,P84071,WILBRAHAM SURGERY,2014-10-01,219.0,2275.856965,0.096227,57.540692

In [58]:
import os
#Convert to a dataframe
dataframe = pandas.DataFrame(data)
#view data frame
dataframe.head(3)

,measure,org_type,org_id,org_name,date,numerator,denominator,calc_value,percentile
0,ktt9_antibiotics,practice,P84650,THE ALEXANDRA PRACTICE,2014-10-01,199.0,3106.653507,0.064056,9.181078
1,ktt9_antibiotics,practice,P84673,ANCOATS URBAN VILLAGE MEDICAL PRACTICE,2014-10-01,463.0,4252.799604,0.108869,75.864700
2,ktt9_antibiotics,practice,P84071,WILBRAHAM SURGERY,2014-10-01,219.0,2275.856965,0.096227,57.540692

In [59]:
#can you select one column?
dataframe.numerator.head(3)
#yes, now you can use this to calculate the IQR etc...

0    199.0
1    463.0
2    219.0
Name: numerator, dtype: float64

In [53]:
#sort dataframe first by date then by number of prescriptions
dataframe.sort_values("numerator")
#See the following URL to sort by more than one column: 
#https://www.geeksforgeeks.org/python-pandas-dataframe-sort_values-set-2/

,measure,org_type,org_id,org_name,date,numerator,denominator,calc_value,percentile
0,ktt9_antibiotics,practice,P84650,THE ALEXANDRA PRACTICE,2014-10-01,199.0,3106.653507,0.064056,9.181078
2,ktt9_antibiotics,practice,P84071,WILBRAHAM SURGERY,2014-10-01,219.0,2275.856965,0.096227,57.540692
5,ktt9_antibiotics,practice,P84663,THE NEVILLE FAMILY CENTRE,2014-10-01,317.0,2194.322385,0.144464,95.714649
1,ktt9_antibiotics,practice,P84673,ANCOATS URBAN VILLAGE MEDICAL PRACTICE,2014-10-01,463.0,4252.799604,0.108869,75.864700
4,ktt9_antibiotics,practice,P84024,BOWLAND MEDICAL PRACTICE,2014-10-01,703.0,4127.455960,0.170323,98.130722
3,ktt9_antibiotics,practice,P84049,THE AVENUE MEDICAL CENTRE,2014-10-01,850.0,5602.462544,0.151719,96.731943

In [70]:
#Q1
q1 = dataframe['numerator'].quantile(0.25)
#Q3
q3 = dataframe['numerator'].quantile(0.75) 
#IQR
iqr=q3-q1
print(iqr)

399.5

In [78]:
# Filtering Values between Q1-1.5IQR and Q3+1.5IQR
# See https://stackoverflow.com/questions/34782063/how-to-use-pandas-filter-with-iqr
dataframe['numerator'].query('(@q1 - 1.5 * @iqr) <= nb <= (@q3 + 1.5 * @iqr)')

AttributeError: 'Series' object has no attribute 'query'